In [4]:
import datetime
import mysql.connector
from parse_config import parse_config_file

In [2]:
from parse_config import parse_config_file
import mysql.connector

class Database:

    def __init__(self, config_file_path):
        self.server, self.username, self.password, self.database = parse_config_file(config_file_path)

        self.connection = mysql.connector.connect(
            host=self.server,
            user=self.username,
            password=self.password,
            database=self.database
        )
        if self.connection:
            print("Connection established")
        self.cursor = self.connection.cursor()

    def create_tables(self):
        create_table_query_0 = """
            CREATE TABLE IF NOT EXISTS Attendance(
                user_id SMALLINT NOT NULL,
                attendance_id SMALLINT PRIMARY KEY NOT NULL,
                role VARCHAR(10) NOT NULL,
                date DATE NOT NULL,
                attendance BOOLEAN NULL,
                in_time TIME NULL,
                entry_exit VARCHAR(2500) NULL
            )
        """
        create_table_query_1 = """
            CREATE TABLE IF NOT EXISTS Students(
                user_id SMALLINT PRIMARY KEY NOT NULL,
                student_id mediumint not null,
                university_code varchar(100) not null,
                first_name  varchar(50) not null,
                middle_name varchar(50) null,
                last_name varchar(50) not null,
                encoding_left text not null,
                enecoding_front text not null,
                encoding_right text not null
            )
        """
        create_table_query_2 = """
            CREATE TABLE IF NOT EXISTS Staffs(
                user_id SMALLINT PRIMARY KEY NOT NULL,
                staff_id mediumint not null,
                first_name  varchar(50) not null,
                middle_name varchar(50) null,
                last_name varchar(50) not null,
                encoding_left text not null,
                enecoding_front text not null,
                encoding_right text not null
            )
        """
        self.cursor.execute(create_table_query_0)
        self.cursor.execute(create_table_query_1)
        self.cursor.execute(create_table_query_2)
        self.connection.commit()
        print(f"Tables created successfully")


    def add_single_data(self,data: any,table_name:str,column_name:str):
        query=f"insert into {table_name} ({column_name}) values (%s) on duplicate key update {column_name} = values({column_name})"
        self.cursor.execute(query,data)
        self.connection.commit()
        print("Data inserted")

    def close_connection(self):
        self.cursor.close()
        self.connection.close()
        print("Connection closed")

user = Database("config.json")
user.create_tables()
user.add_single_data((False,),"Attendance","attendance")
user.add_single_data((4567,),"Staffs","staff_id")

user.close_connection()

Connection established
Tables created successfully
Data inserted
Data inserted
Connection closed

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="65.109.153.186",
    user=""
)